extends ../shared/template
block content
  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th Email
        th Phone
        th Facebook
        th Twitter
    body
      each user in users
        tr
          td: a(href='/users/#{user.email}', target='_blank')= user.email
          td= user.phone
          td: a(href=user.facebook, target='_blank')= user.facebook
          td: a(href=user.twitter, target='_blank')= user.twitter

block scripts

